#board {
    display: grid;
    width: 25rem;
    height: 25rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 3px solid #fff1c0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  }

  .redcell {
    font-family: IM Fell DW Pica SC, serif;
    font-weight: 700;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #fff1c0;
    background-color: rgb(61, 17, 17);
    color: rgba(250, 146, 146, 0.938);
  }

  .orangecell {
    font-family: IM Fell DW Pica SC, serif;
    font-weight: 700;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #fff1c0;
    background-color: rgb(61, 17, 17);
    color: rgb(255, 198, 93);
  }

  .greencell {
    font-family: IM Fell DW Pica SC, serif;
    font-weight: 700;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #fff1c0;
    background-color: rgb(61, 17, 17);
    color: rgb(86, 163, 86);
  }
  
  